* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #848282;
}

main {
  width: 960px;
  margin: 50px auto;
}

li {
  padding: 20px;
  list-style: none;
}

li:nth-child(odd) {
  background-color: #eee;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.box:nth-child(1) {
  background-color: orange;
}

.box:nth-child(5) {
  background-color: orange;
}

.box:nth-child(9) {
  background-color: orange;
}