* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #828282;
}

.main-visual {
  height: 400px;
  background-image: url(img1-7/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
}

main {
  width: 840px;
  margin: 20px auto 50px;
}

.service {
  padding: 30px 0;
  border-bottom: 1px solid #848282;
}