* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
}

.box {
  width: 300px;
  padding: 10px;
  position: relative;
  background-color: #EEE;
}

.box:nth-child(2) {
  margin: 0 30px;
}

.step {
  color: #FFF;
  background-color: #FF9A4B;
  position: absolute;
  top: 0;
  left: 0;
}

.image1 {
  height: 150px;
  background-image: url(img1-9-2/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2 {
  height: 150px;
  background-image: url(img1-9-2/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3 {
  height: 150px;
  background-image: url(img1-9-2/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.title {
  margin: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAA;
}